<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <Feature Id="ProductFeature"
             Title="Move-Project tool"
             Level="1">
      <ComponentGroupRef Id="Move-Project tool" />
      <ComponentGroupRef Id="CommandLineUtils"/>
    </Feature>
  </Fragment>
</Wix>
