<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ProductName="Move-Project"?>
  <?define UpgradeCode="{9919AF4A-B812-42E3-ABD4-CDC916C7F149}"?>
  <?define ProductCode="{1F22AD30-2A6D-499C-8190-35DBFFB045C3}"?>
  <?define ProductVersion="0.0.0.2"?>
  <?define BinariesDir="../Move-Project/bin/Release/net461/"?>

  <Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Loic Morvan" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." />

    <MediaTemplate CompressionLevel="high" EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Move-Project tool" Level="1">
      <ComponentGroupRef Id="Move-Project tool" />
    </Feature>

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="Move-Project tool" Directory="INSTALLFOLDER">
      <Component Id="MoveProject_Executable" Guid="{3D705312-F6FE-4162-BC9A-0441EBACEE05}">
        <File Source="$(var.BinariesDir)Move-Project.exe" KeyPath="yes" />
        <Environment Id="AddExeToPath"
                     Name="PATH"
                     Part="first"
                     System="yes"
                     Action="set"
                     Permanent="no"
                     Value="[INSTALLFOLDER]" />
      </Component>
      <Component Id="MoveProject_Dll" Guid="{68ABF51F-0D76-484B-BC90-C94E9D18F84D}">
        <File Source="$(var.BinariesDir)Microsoft.Extensions.CommandLineUtils.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
